:root {
  --purple: hsl(259, 100%, 65%);
  --lightRed: #ff5959;
  --white: #ffffff;
  --lightGrey: #f0f0f0;
  --line: #dcdcdc;
  --Grey: #716f6f;
  --black: #151515;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

body {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0.01em;
  color: var(--black);
  width: 100%;
  background: var(--lightGrey);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.age-calculator {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 56px;
  max-width: 840px;
  width: 100%;
  min-height: calc(100vh - 40px);
  max-height: 651px;
  background: var(--white);
  border-radius: 24px 24px 200px 24px;
}
.age-calculator__form {
  display: flex;
  gap: 32px;
  width: 100%;
  border-bottom: 1px solid var(--line);
  padding-block-end: 48px;
  position: relative;

  .form-element {
    display: flex;
    flex-direction: column;
    label {
      font-size: 14px;
      line-height: 21px;
      letter-spacing: 0.25em;
      text-transform: uppercase;
      color: var(--Grey);
      margin-block-end: 8px;
    }
    input {
      max-width: 160px;
      width: 100%;
      height: 72px;
      align-items: center;
      padding: 12px 24px;
      border: 1px solid var(--line);
      border-radius: 8px;
    }
    /* Chrome, Safari, Edge Chromium */
    input::placeholder {
      color: var(--black);
      opacity: 0.5;
    }

    /* Firefox */
    input::-moz-placeholder {
      color: var(--black);
      opacity: 0.5;
    }

    /* Internet Explorer 10–11 */
    input:-ms-input-placeholder {
      color: var(--black);
      opacity: 0.5;
    }

    /* Microsoft Edge Legacy */
    input::-ms-input-placeholder {
      color: var(--black);
      opacity: 0.5;
    }

    /* Старі WebKit (опціонально) */
    input::-webkit-input-placeholder {
      color: var(--black);
      opacity: 0.5;
    }
    input::-webkit-inner-spin-button,
    input::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
      cursor: pointer;
    }
    input[type='number'] {
      appearance: textfield; /* новий стандарт */
      -moz-appearance: textfield; /* для Firefox */
      cursor: pointer;
    }

    input::-ms-clear,
    input::-ms-reveal {
      display: none;
      cursor: pointer;
    }
  }
  .form-element.error label {
    color: var(--lightRed);
  }

  .form-element.error input {
    border: 1px solid var(--lightRed);
  }

  .form-element.error .error-text {
    color: var(--lightRed);
    visibility: visible;
  }

  .form-element .error-text {
    visibility: hidden;
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
  }

  button {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(50%);
    width: 96px;
    height: 96px;
    background: var(--purple);
    border-radius: 50%;
    border: none;
    background-image: url(./assets/images/icon-arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.5s ease-in-out;
  }
  button:hover {
    background-color: var(--black);
  }
}
.age-calculator__result {
  padding-block-start: 48px;
  font-style: italic;
  font-weight: 800;
  font-size: 104px;
  line-height: 110%;
  letter-spacing: -0.02em;
  span {
    color: var(--purple);
  }
}

@media (max-width: 710px) or (max-height: 670px) {
  body {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.01em;
    padding: 16px;
  }
  .age-calculator {
    padding: 48px 24px;
    max-height: 486px;
    max-width: 540px;
    border-radius: 24px 24px 100px 24px;
  }
  .age-calculator__form {
    gap: 16px;
    padding-block-end: 64px;
    & .form-element {
      label {
        font-size: 12px;
        line-height: 18px;
      }
      input {
        height: 54px;
        padding: 12px 16px;
      }
    }
    button {
      width: 64px;
      height: 64px;
      right: 50%;
      transform: translateX(50%) translateY(50%);
      background-size: 24px;
    }
  }
  .age-calculator__result {
    font-size: 56px;
    padding-block-start: 64px;
  }
}

@media (max-width: 380px) {
  body {
    font-size: 16px;
    line-height: 24px;
  }
  .age-calculator {
    padding: 48px 20px;
  }
  .age-calculator__form {
    gap: 16px;

    & .form-element {
      input {
        padding: 10px 12px;
      }
    }
  }
  .age-calculator__result {
    font-size: 46px;
  }
}
